body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
.cover-page {
  background-color: rgba(252, 238, 241, 0.973);
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
}
.cover-page-text {
  padding: 100px 150px;
  color: rgb(14, 12, 12);
}
.cover-page-text h1 {
  font-size: 40px;
  font-weight: 800;
}
.button {
  text-decoration: none;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 8px;
  color: #ffffff;
  background-color: rgb(229, 84, 115);
  margin: 0px;
}
.image {
  display: block;
  height: 100%;
  width: 100%;
  margin-top: 7%;
  margin-bottom: 0%;
}
.feature {
  text-align: center;
  padding: 100px 300px;
}
.text h3{
  margin-left: 80px;
}
section {
  display: flex;
  margin-bottom: 100px;
}
.feature-plan {
  width: 250px;
  padding: 90px 25px 20px 25px;
  border-radius: 300px 300px 0px 0px;
}
.bg-color1 {
  background-image: linear-gradient(#ebdbd5, #f0e9e8);
  margin-left: 150px;
}
.bg-color2 {
  background-image: linear-gradient(#d0c6eb, #e2e1e4);
  margin-left: 30px;
  border-right: 100px;
}
.bg-color3 {
  background-image: linear-gradient(#c1e0c1, #d1d6d1);
  margin-left: 30px;
  border-right: 50px;
}
.text {
  display: block;
  text-align: center;
}
.text a {
  color: rgb(14, 12, 12);
}
.feature-plan img {
  width: 200px;
  height: 250px;
}
.sale-part {
  text-align: center;
}
.sale-part span {
  color: rgb(229, 84, 115);
}
.deal-image img {
  display: block;
  height: 90%;
  width: 70%;
  margin-top: 10%;
}
.insta {
  display: flex;
  gap: 30px;
  margin-left: 200px;
}
.insta img {
  width: 200px;
}
.background {
  background: url("/images/rectan.png");
  background-repeat: no-repeat;
  background-size: 82%;
  margin-left: 15%;
  display: block;
}

.update {
  text-align: center;
  padding: 35px 250px 0px 0px;
}
.update-button {
  display: flex;
  padding: 40px 220px;
  gap: 15px;
}
.update-button input {
  border: none;
  padding: 10px 50px 10px 10px;
  font-size: 20px;
}
.footer {
  background-color: #01010f;
  padding: 20px;
  text-align: center;
}
.footer p {
  color: rgb(211, 203, 203);
}
.foot-p{
    color: rgb(100, 97, 97);
    font-size: 10px;
    margin-bottom: 50px;
}
.footer h3 {
  font-family: "Lobster", cursive;
  font-size: 40px;
  font-weight: 400;
  color: rgb(233, 68, 68);
}
.footer span{
    color: white;
}

.review {
  width: 20%;
  padding: 60px 25px 0px 25px;
  border-radius: 5px;
  text-align: center;

}
.bg-color {
  background-image: linear-gradient(#ce9986, #cfb5b1);
  margin-left: 90px;
}
