body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
.cover-page {
  background-color: rgba(252, 238, 241, 0.973);
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
}
.cover-page-text {
  padding: 100px 150px;
  color: rgb(14, 12, 12);
}
.cover-page-text h1 {
  font-size: 40px;
  font-weight: 800;
}
.button {
  text-decoration: none;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 8px;
  color: #ffffff;
  background-color: rgb(229, 84, 115);
  margin: 0px;
}
.image {
  display: block;
  height: 100%;
  width: 100%;
  margin-top: 7%;
  margin-bottom: 0%;
}
.feature {
  text-align: center;
  padding: 100px 300px;
}
.paragraph-colour {
  color: rgb(49, 46, 46);
}
section {
  display: flex;
  margin-bottom: 100px;
}
.feature-plan {
  width: 250px;
  padding: 90px 25px 20px 25px;
  border-radius: 300px 300px 0px 0px;
}
.bg-color1 {
  background-image: linear-gradient(#ebdbd5, #f0e9e8);
  margin-left: 150px;
}
.bg-color2 {
  background-image: linear-gradient(#d0c6eb, #e2e1e4);
  margin-left: 30px;
  border-right: 100px;
}
.bg-color3 {
  background-image: linear-gradient(#c1e0c1, #d1d6d1);
  margin-left: 30px;
  border-right: 50px;
}
.text {
  display: block;
  text-align: center;
}
.text a {
  color: rgb(14, 12, 12);
}
.feature-plan img {
  width: 200px;
  height: 250px;
}
.sale-part{
    text-align: center;
}
.sale-part span{
    color: rgb(229, 84, 115);
}
.deal-image img{
  display: block;
  height:90%;
  width: 70%;
  margin-top: 10%;
  
}
.insta{
    display: flex;
    gap: 30px;
    margin-left: 200px;
}
.insta img{
  width: 200px;
  /* padding: 90px 25px 20px 25px;
  margin-left: 40px; */
}